.dashboard-sidenav-1 {
  height: 100%;
}

.dashboard-drawer-1 {
  background-color: var(--background-color) !important;
  border: none;
  width: 220px;
}

.dashboard-toggle-1 {
  display: none;
}

.dashboard-toolbar-1 {
  height: 6vh;
  width: 83vw;
  margin-top: 15px;
  display: flex;
  margin-left: 30px;
}

@media only screen and (max-width: 768px) {
  .dashboard-toggle-1 {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  .dashboard-drawer-1 {
    width: 80%;
  }

  .dashboard-toolbar-1 {
    height: 6vh;
    flex-direction: row;
    justify-content: space-between;
  }

  .dashboard-icon-1 {
    color: #a78a4670 !important;
  }
}
