<mat-card class="menu-card-1">
  <mat-card-content>
    <div class="menu-container-flex-1">
      <img class="menu-logo-1" src="../../../../assets/ambiensa-fo.png" alt="ambiensa-logo">
    </div>
    <mat-nav-list class="menu-list-container-1">
      <mat-list-item class="menu-mat-list-item-1" routerLink="./inicio" routerLinkActive="menu-active-1">
        <mat-icon matListItemIcon fontSet="material-icons-outlined">home</mat-icon>
        <a class="menu-nav-1" routerLinkActive="menu-active-1" matListItemTitle>Inicio</a>
      </mat-list-item>
      <mat-list-item class="menu-mat-list-item-1" routerLink="./ventas" routerLinkActive="menu-active-1">
        <mat-icon matListItemIcon fontSet="material-icons-outlined">sell</mat-icon>
        <a class="menu-nav-1" routerLinkActive="menu-active-1" matListItemTitle>Ventas</a>
      </mat-list-item>
      <mat-list-item class="menu-mat-list-item-2" routerLink="./ventas/reporte-general" routerLinkActive="menu-active-1">
        <a class="menu-nav-1" routerLinkActive="menu-active-1" matListItemTitle>Reporte General</a>
      </mat-list-item>
      <mat-list-item class="menu-mat-list-item-2" routerLink="./ventas/detalle-proyecto" routerLinkActive="menu-active-1">
        <a class="menu-nav-1" routerLinkActive="menu-active-1" matListItemTitle>Detalle de Proyecto</a>
      </mat-list-item>
      <mat-list-item class="menu-mat-list-item-1" routerLink="./marketing" routerLinkActive="menu-active-1">
        <mat-icon matListItemIcon fontSet="material-icons-outlined">stacked_line_chart</mat-icon>
        <a class="menu-nav-1" routerLinkActive="menu-active-1" matListItemTitle>Marketing</a>
      </mat-list-item>
      <mat-list-item class="menu-mat-list-item-1" routerLink="./perfil" routerLinkActive="menu-active-1">
        <mat-icon matListItemIcon fontSet="material-icons-outlined">group</mat-icon>
        <a class="menu-nav-1" routerLinkActive="menu-active-1" matListItemTitle>Perfil Clientes</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
