.menu-card-1 {
  height: 95%;
  margin-top: 15px;
  margin-left: 15px;
  justify-content: center;
  flex-direction: row;
}

.menu-logo-1 {
  height: 60px;
  width: 150px;
  align-items: center;
  margin-top: 10px;
}

.menu-container-flex-1 {
  display: flex;
  justify-content: center;
}

.menu-nav-1 {
  text-decoration: none;
}

.menu-active-1 {
  color: var(--primary-color) !important;
}

mat-list-item.menu-mat-list-item-1.menu-active-1 {
  border-left: 4px solid var(--primary-color);
  background-color: #a78a4620;
}

a.menu-active-1 {
  background: none;
}

.menu-list-container-1 {
  margin-bottom: 20px;
  width: 100%;
}

.menu-button-1 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  & {
    mat-icon {
      margin-left: 8px;
    }
  }
}

.menu-container-flex-2 {
  display: flex;
  justify-content: center
}

.menu-mat-list-item-1.mdc-list-item.mdc-list-item--with-one-line {
  height: 50px;
  font-size: 15px;
  margin: 10px auto;
}

.menu-mat-list-item-1.mdc-list-item {
  display: flex;
}

mat-list-item.menu-mat-list-item-2 .menu-active-1 {
  color: #989898 !important;
  border-bottom: 2px solid var(--primary-color);
  font-weight: 100 !important;
}

mat-list-item.menu-mat-list-item-2 {
  margin-left: 25px;
}